USE [master]
GO
/****** Object:  Database [Chinh_FA223W]    Script Date: 10/12/2022 7:17:47 CH ******/
CREATE DATABASE [Chinh_FA223W]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Chinh_FA223W', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Chinh_FA223W.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Chinh_FA223W_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Chinh_FA223W_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Chinh_FA223W].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Chinh_FA223W]
GO
/****** Object:  Table [dbo].[tblAccount]    Script Date: 10/12/2022 7:17:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAccount](
	[userID] [nvarchar](50) NOT NULL,
	[lastName] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[role] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblAccount] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[tblAccount] ([userID], [lastName], [password], [role]) VALUES (N'SE111111', N'chuong', N'1', N'US')
INSERT [dbo].[tblAccount] ([userID], [lastName], [password], [role]) VALUES (N'SE123456', N'mai', N'1', N'US')
INSERT [dbo].[tblAccount] ([userID], [lastName], [password], [role]) VALUES (N'SE140123', N'ngan', N'1', N'US')
USE [master]
GO
